__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

build/
dist/
*.egg-info/

*.spec

UpdateSystem/hall_array_viewer
bin/hall_array_viewer

.vscode/
.idea/
*.swp
*.swo
*.DS_Store

*.log

.pytest_cache/
